.home {
	height: 100%;
	// background: linear-gradient(to bottom, #ff9aa2, #ffb7b2, #ffdac1, #e2f0cb, #b5ead7, #c7ceea);
	background: linear-gradient(
		to bottom,
		#ff9aa2 0% 20%,
		#ffdac1 20% 30%,
		#e2f0cb 30% 50%,
		#e2f0cb 50% 70%,
		#ffdac1 70% 80%,
		#ff9aa2 80% 100%
	);

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&-content {
		padding: 1rem 1.8rem 2rem 1.8rem;

		h1,
		h2 {
			color: black;
			margin-bottom: 1.4rem;
			// text-shadow: 2px 2px 2px black;
		}
		h2 {
			font-weight: 400;
		}
		a {
			color: white;
			background: $secondary;
			text-decoration: none;
			padding: 0.5rem 1rem;
			font-size: 20px;
			border-radius: 2px;
			&:hover {
				opacity: 0.9;
			}
		}
	}
}
